Repository Vele189/Continuum: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-tests, backend-pylint

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: backend-tests
        name: Backend Tests
        entry: pytest
        language: python
        additional_dependencies:
          - pytest
          - httpx
          - fastapi
          - uvicorn
          - sqlalchemy
          - pydantic-settings
          - pydantic
          - email-validator
          - python-multipart
          - python-jose[cryptography]
          - passlib[bcrypt]
          - bcrypt==4.0.1
        types: [python]
        files: ^backend/
        pass_filenames: false
        args: ["backend/tests"]
      - id: backend-pylint
        name: Backend Pylint
        entry: pylint
        language: python
        additional_dependencies:
          - pylint
          - sqlalchemy
          - fastapi
          - pydantic
          - pydantic-settings
          - python-jose[cryptography]
          - passlib[bcrypt]
        types: [python]
        files: ^backend/app/
        args: ["--rcfile=backend/.pylintrc", "--disable=import-error"]

fixes: fixed all linting errors
  backend/app/api/__init__.py
  backend/app/api/deps.py
  backend/app/api/v1/routes/admin.py
  backend/app/api/v1/routes/auth.py
  backend/app/api/v1/routes/invoices.py
  backend/app/api/v1/routes/milestones.py
  backend/app/api/v1/routes/projects.py
  backend/app/api/v1/routes/task_comments.py
  backend/app/api/v1/routes/tasks.py
  backend/app/api/v1/routes/users.py
  backend/app/core/__init__.py
  backend/app/core/config.py
  backend/app/database.py
  backend/app/db/__init__.py
  backend/app/db/base.py
  backend/app/db/session.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/project.py
  backend/app/models/task.py
  backend/app/schemas/milestone.py
  backend/app/schemas/project.py
  backend/app/schemas/task_comment.py
  backend/app/schemas/user.py
  backend/app/services/milestone.py
  backend/app/services/project.py
  backend/app/services/task_comment.py
  backend/app/services/user.py
  backend/app/utils/pdf_generator.py
  backend/tests/api/v1/test_milestones_permissions.py
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_password_reset.py
  backend/tests/test_permissions.py
Due: backend-tests, backend-pylint

feat(api): shcema changes relevant to user profile
  backend/app/database.py
  backend/app/schemas/user.py
Due: backend-tests, backend-pylint

feat(api): adding the service layer for user profile aggregation
  backend/app/services/user.py
Due: backend-tests, backend-pylint

feat(api): added the route for returning a user profile, with permissions, migration
  backend/add_skills_column.py
  backend/app/api/v1/routes/users.py
Due: backend-tests, backend-pylint

feat(api): updating the postman collection for user profile stuff, and the unit test - passing
  backend/app/services/user.py
  backend/continuum_backend.postman_collection.json
  backend/tests/test_user_profile.py
Due: backend-tests, backend-pylint

fixes: ran the migrations for the new endpoints
  backend/app/services/user.py
  backend/continuum_backend.postman_collection.json
  backend/migrations/versions/6067a91502e7_add_skills_column_to_users.py
Due: backend-tests, backend-pylint

feat(client-portal): add api_key and updated_at to Client and Project models
  backend/app/dbmodels.py
Due: backend-tests, backend-pylint

feat(client-portal): implement ClientPortalProject schema and service logic
  backend/app/schemas/project.py
  backend/app/services/project.py
Due: backend-tests, backend-pylint

feat(client-portal): add client token authentication dependency
  backend/app/api/deps.py
Due: backend-tests, backend-pylint

feat(client-portal): expose sanitized project view endpoint and register router
  backend/app/api/v1/routes/client_portal.py
  backend/app/main.py
Due: backend-tests, backend-pylint

test(client-portal): add integration tests and update postman collection
  backend/continuum_backend.postman_collection.json
  backend/tests/api/v1/test_client_portal.py
Due: backend-tests

fix(db): complete migrations and client portal setup
  backend/app/schemas/client.py
  backend/app/services/client.py
  backend/app/services/project.py
  backend/migrations/versions/688c93541523_fix_userrole_enum_add_admin.py
  backend/migrations/versions/9432fed5a01d_add_missing_columns_api_key_and_updated_.py
  backend/test_all_endpoints.py
  backend/test_client_portal.py
Due: backend-tests, backend-pylint

fixes: fixed JSON syntax errors
  backend/app/api/deps.py
  backend/app/api/v1/routes/client_portal.py
  backend/app/dbmodels.py
  backend/app/main.py
  backend/app/schemas/project.py
  backend/continuum_backend.postman_collection.json
  backend/tests/api/v1/test_client_portal.py
  continuum-frontend/tsconfig.app.json
  continuum-frontend/tsconfig.node.json
Due: backend-tests, backend-pylint

feat: add weekly digest schemas
  backend/app/schemas/digest.py
Due: backend-tests, backend-pylint

feat: implement weekly digest service logic
  backend/app/services/digest.py
Due: backend-tests, backend-pylint

feat: add weekly digest api endpoint
  backend/app/api/v1/routes/projects.py
Due: backend-tests, backend-pylint

test: add weekly digest automated tests and setup db fixture
  backend/tests/api/v1/test_digest.py
  backend/tests/conftest.py
Due: backend-tests

feat: add project summary schemas
  backend/app/schemas/summary.py
Due: backend-tests, backend-pylint

"feat: implement project summary service logic"
  backend/app/services/summary.py
Due: backend-tests, backend-pylint

"feat: implement project summary service and api route"
  backend/app/api/v1/routes/projects.py
Due: backend-tests, backend-pylint

"feat: implement project summary generation and fix cross-branch build issues"
  backend/app/api/v1/routes/projects.py
  backend/app/schemas/digest.py
  backend/app/services/digest.py
  backend/app/services/summary.py
  backend/tests/api/v1/test_digest.py
  backend/tests/api/v1/test_summary.py
  backend/tests/conftest.py
Due: backend-tests, backend-pylint

test: add edge-case testing for null handling in project summary
  backend/tests/api/v1/test_summary.py
Due: backend-tests

feat(backend): Implemented functions logic as well as schemas for Client Portal Progress View
  backend/app/schemas/project.py
  backend/app/services/project.py
Due: backend-tests, backend-pylint

fixes : fixed lint errors
  continuum-frontend/src/components/landing/Hero.tsx
Due: none

feat(auth): implement forgot password page
  continuum-frontend/package-lock.json
  continuum-frontend/package.json
  continuum-frontend/src/pages/Auth/ForgotPassword.tsx
Due: none

feat(auth):added forgot & reset password page
  continuum-frontend/src/pages/Auth/ForgotPassword.tsx
  continuum-frontend/src/pages/Auth/ResetPassword.tsx
Due: none

feat(auth): pages optimization
  continuum-frontend/src/pages/Auth/ForgotPassword.tsx
  continuum-frontend/src/pages/Auth/ResetPassword.tsx
Due: none

docs(auth): Add Continuum Logo
  continuum-frontend/public/Continuum.svg
Due: none

docs(auth): Add Apple Logo
  continuum-frontend/public/apple.svg
Due: none

docs(auth): Added arrow Logo
  continuum-frontend/public/arrow.svg
Due: none

docs(auth): Added Google Logo
  continuum-frontend/public/google.svg
Due: none

feat(auth): Added Backgorund colours
  continuum-frontend/src/index.css
Due: none

feat(auth): Added New Auth Routes
  continuum-frontend/src/router.tsx
Due: none

feat(auth): Added New Login Page
  continuum-frontend/src/pages/Auth/Login.tsx
Due: none

feat(auth): Added New Register Page
  continuum-frontend/src/pages/Auth/Register.tsx
Due: none

feat(auth): Added New Loading Page
  continuum-frontend/src/pages/Auth/Loading.tsx
Due: none

feat(auth): Added New Email Verification Page
  continuum-frontend/src/pages/Auth/EmailVerification.tsx
Due: none

feat(auth): Added New SignUp Page
  continuum-frontend/src/pages/Auth/SignUp.tsx
Due: none
