Repository Vele189/Continuum: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pylint, backend-mypy, backend-tests, frontend-typecheck, frontend-lint, frontend-build

backend-pylint:
  name: Backend Pylint
  entry: bash -c 'cd backend && source venv/bin/activate && pylint --rcfile=.pylintrc $(find app -name "*.py" -not -path "*/tests/*")'
  language: system
  pass_filenames: false

backend-mypy:
  name: Backend Type Check (mypy)
  entry: bash -c 'cd backend && source venv/bin/activate && mypy app --config-file=mypy.ini || echo "mypy warnings (non-blocking)"'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (pytest)
  entry: bash -c 'cd backend && source venv/bin/activate && DATABASE_URL="sqlite:///./test.db" pytest tests -v --tb=short -x'
  language: system
  pass_filenames: false

frontend-typecheck:
  name: Frontend Type Check (TypeScript)
  entry: bash -c 'cd continuum-frontend && npm run typecheck'
  language: system
  pass_filenames: false

frontend-lint:
  name: Frontend Lint (ESLint)
  entry: bash -c 'cd continuum-frontend && npm run lint'
  language: system
  pass_filenames: false

frontend-build:
  name: Frontend Build Check
  entry: bash -c 'cd continuum-frontend && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor(auth): Updated Dependencies
  continuum-frontend/package-lock.json
Due: none

feat(backend): Implemented API route for project progress
  backend/app/api/v1/routes/client_portal.py
  backend/app/services/project.py
Due: backend-pylint, backend-mypy, backend-tests

fixes: fixed code formating , import sorting, type checking, linting, and tests
  backend/app/services/project.py
Due: backend-pylint, backend-mypy, backend-tests

fixes: fixed all trailing whitespace, end of ile fixes, pylints
  backend/app/api/v1/routes/projects.py
  backend/app/schemas/digest.py
  backend/app/services/digest.py
  backend/continuum_backend.postman_collection.json
  backend/migrations/versions/2cce482f5863_fix_userrole_enum_add_admin.py
  backend/tests/api/v1/test_digest.py
  continuum-frontend/src/api/index.ts
  continuum-frontend/src/components/landing/index.ts
  continuum-frontend/src/hooks/index.ts
  continuum-frontend/src/index.css
  continuum-frontend/src/store/index.ts
Due: backend-pylint, backend-mypy, backend-tests, frontend-typecheck, frontend-lint, frontend-build

fixes: fixed pylints, black, isort for summary feature
  backend/app/api/v1/routes/projects.py
  backend/app/schemas/digest.py
  backend/app/schemas/summary.py
  backend/app/services/digest.py
  backend/app/services/summary.py
  backend/continuum_backend.postman_collection.json
  backend/tests/api/v1/test_digest.py
  backend/tests/api/v1/test_summary.py
  continuum-frontend/src/api/index.ts
  continuum-frontend/src/components/landing/index.ts
  continuum-frontend/src/hooks/index.ts
  continuum-frontend/src/index.css
  continuum-frontend/src/store/index.ts
Due: backend-pylint, backend-mypy, backend-tests, frontend-typecheck, frontend-lint, frontend-build

chore: cleaned up the branches
  .gitignore
  backend/TEST_RESULTS_SUMMARY.md
  backend/app/api/v1/routes/webhooks.py
  backend/app/schemas/webhook.py
  backend/app/utils/hmac_verifier.py
  backend/migrations/versions/907048ce1217_merge_userrole_and_columns.py
  backend/test_all_endpoints_comprehensive.py
Due: backend-pylint, backend-mypy, backend-tests

fixes: fixed all lint errors, pre-commit errors , text logging errors and pybuilds
  .gitignore
  .pre-commit-config.yaml
  backend/.coverage
  backend/app/services/user.py
  backend/migrations/versions/2cce482f5863_fix_userrole_enum_add_admin.py
  backend/migrations/versions/907048ce1217_merge_userrole_and_columns.py
  backend/pytest.ini
  backend/requirements.txt
  backend/scripts/test_milestones_manual.py
  backend/test_all_endpoints_comprehensive.py
  backend/test_client_portal.py
Due: backend-pylint, backend-mypy, backend-tests

fixes : removed test files
  .gitignore
  backend/TEST_RESULTS_SUMMARY.md
  backend/test_all_endpoints.py
  backend/test_all_endpoints_comprehensive.py
  backend/test_client_portal.py
  backend/test_milestones_comprehensive.py
  backend/test_milestones_simple.py
Due: backend-tests

fixes : removed all testing files
  .gitignore
  backend/app/api/deps.py
  backend/app/services/user.py
  backend/scripts/test_milestones_manual.py
  backend/tests/__init__.py
  backend/tests/api/v1/test_client_portal.py
  backend/tests/api/v1/test_digest.py
  backend/tests/api/v1/test_milestones_permissions.py
  backend/tests/api/v1/test_summary.py
  backend/tests/conftest.py
  backend/tests/test_auth.py
  backend/tests/test_health.py
  backend/tests/test_password_reset.py
  backend/tests/test_permissions.py
  backend/tests/test_user_profile.py
  continuum-frontend/test-results/.last-run.json
  continuum-frontend/tests/e2e/README.md
  continuum-frontend/tests/e2e/auth/auth-forgot-password.spec.ts
  continuum-frontend/tests/e2e/auth/auth-login.spec.ts
  continuum-frontend/tests/e2e/auth/auth-register.spec.ts
  continuum-frontend/tests/e2e/auth/auth-reset-password.spec.ts
  continuum-frontend/tests/e2e/auth/constants.ts
  continuum-frontend/tests/e2e/example.spec.ts
Due: backend-pylint, backend-mypy, backend-tests

fixes : fixed pylints and coverage issues
  .github/workflows/coverage.yml
  .github/workflows/pylint.yml
  .github/workflows/python-package.yml
  .pre-commit-config.yaml
  backend/.pylintrc
  backend/pytest.ini
  backend/scripts/migrate_milestones.py
Due: backend-tests

fixes: fixed db session initialization, updated root Dockerfile, fixed db dependency
  .pre-commit-config.yaml
  Dockerfile
  backend/Dockerfile
  backend/app/api/deps.py
  backend/app/database.py
  backend/app/db/session.py
Due: backend-pylint, backend-mypy, backend-tests

feat(auth): fixed Forgot and Reset Password pages
  continuum-frontend/src/assets/back-arrow.png
  continuum-frontend/src/pages/Auth/ForgotPassword.tsx
  continuum-frontend/src/pages/Auth/ResetPassword.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): Implement forgot and reset password functionalities with dedicated pages and auth hook methods.
  continuum-frontend/src/api/auth.ts
  continuum-frontend/src/hooks/useAuth.ts
  continuum-frontend/src/pages/Auth/ForgotPassword.tsx
  continuum-frontend/src/pages/Auth/ResetPassword.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

fix: Correct typo in reset password text
  continuum-frontend/src/pages/Auth/ResetPassword.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

docs(auth): Added Loading Logo
  continuum-frontend/public/Wordmark_colour.svg
Due: none

feat(auth): Added Updated Email Verification Page
  continuum-frontend/src/pages/Auth/EmailVerification.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): Added Login Page
  continuum-frontend/src/pages/Auth/Login.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): Added Register Page
  continuum-frontend/src/pages/Auth/Register.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): Added SignUp Page
  continuum-frontend/src/pages/Auth/SignUp.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): Added Updated Login Page
  continuum-frontend/src/pages/Auth/Login.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

fixes: fixed the ui implementation to match the ui designs
  continuum-frontend/src/pages/Auth/ForgotPassword.tsx
  continuum-frontend/src/pages/Auth/ResetPassword.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

chore: created a merged new auth pages ui
  continuum-frontend/public/arrow.svg
  continuum-frontend/src/pages/Auth/EmailVerification.tsx
  continuum-frontend/src/pages/Auth/Loading.tsx
  continuum-frontend/src/pages/Auth/ResetPassword.tsx
  continuum-frontend/src/pages/Auth/SignUp.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): implement mobile authentication screens (login, signup, loading, forgot password) with design fidelity
  continuum-frontend/package-lock.json
  continuum-frontend/src/pages/Auth/EmailVerification.tsx
  continuum-frontend/src/pages/Auth/ForgotPassword.tsx
  continuum-frontend/src/pages/Auth/Loading.tsx
  continuum-frontend/src/pages/Auth/Login.tsx
  continuum-frontend/src/pages/Auth/SignUp.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat(backend): Fixed type mismatches for Activity Item generations as well as general testing
  backend/app/api/deps.py
  backend/app/api/v1/routes/client_portal.py
  backend/app/main.py
  backend/app/services/project.py
  backend/continuum_backend.postman_collection.json
Due: backend-pylint, backend-mypy, backend-tests

feat(auth): add forgot and reset password screens
  continuum-frontend/package-lock.json
  continuum-frontend/src/pages/Auth/ForgotPassword.tsx
  continuum-frontend/src/pages/Auth/ResetPassword.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat: add work session dbmodels and schemas
  backend/app/dbmodels.py
  backend/app/schemas/work_session.py
Due: backend-pylint, backend-mypy, backend-tests

feat: Implement work session tracking and update database schema
  backend/app/api/v1/routes/work_sessions.py
  backend/app/main.py
Due: backend-pylint, backend-mypy, backend-tests

feat: Implement work session management and update database schema
  backend/app/services/work_session.py
  backend/migrations/env.py
  backend/migrations/versions/9e70db09a665_add_work_sessions_table_and_missing_.py
  backend/verify_work_session.py
Due: backend-pylint, backend-mypy, backend-tests

feat: Add new Postman requests for work session management endpoints.
  backend/continuum_backend.postman_collection.json
Due: none

feat: Add `work_sessions` table and its corresponding index.
  backend/migrations/versions/9e70db09a665_add_work_sessions_table_and_missing_.py
Due: backend-tests

feat(dashboard): add dashboard route and layout scaffold
  continuum-frontend/src/pages/Dashboard/Overview.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat(db):add repository database models
  backend/app/dbmodels.py
Due: backend-pylint, backend-mypy, backend-tests

feat: add schema and service layer
  backend/app/schemas/repository.py
  backend/app/services/repository.py
Due: backend-pylint, backend-mypy, backend-tests

feat(backend): Implemented SMTP services for both email verification and password recovery
  backend/Dockerfile
  backend/app/api/v1/routes/auth.py
  backend/app/api/v1/routes/users.py
  backend/app/core/config.py
  backend/app/services/user.py
  backend/app/utils/email_service.py
  backend/start.sh
Due: backend-pylint, backend-mypy, backend-tests

api endpoints and registration
  backend/app/api/v1/routes/repositories.py
  backend/app/main.py
Due: backend-pylint, backend-mypy, backend-tests

chore: Removed unnecessary comments
  backend/app/services/user.py
Due: backend-pylint, backend-mypy, backend-tests

feat: add db migrations and testing
  backend/app/services/webhook.py
  backend/migrations/env.py
  backend/migrations/versions/8eaa9158ce3a_add_repositories_table.py
  backend/scripts/verify_repo_mapping.py
Due: backend-pylint, backend-mypy, backend-tests

fixes: added mailpit service, added defaults for email settings, fixed endpoints paths, removed unused imports
  backend/app/api/v1/routes/auth.py
  backend/app/core/config.py
  backend/app/services/user.py
  backend/app/utils/email_service.py
  backend/dev-start.sh
  docker-compose.yml
Due: backend-pylint, backend-mypy, backend-tests

fixes: fixed schema issues, simplified access control, updated recent activity logic, updated task counting logic, ensured type handling
  backend/app/api/deps.py
  backend/app/api/v1/routes/client_portal.py
  backend/app/schemas/project.py
  backend/app/services/project.py
Due: backend-pylint, backend-mypy, backend-tests

chore: fix test_list_milestones_filter_status - update M1 due_date to future date (2030)
  backend/tests/api/v1/test_milestones_permissions.py
Due: backend-tests

Path conditions:
  backend-pylint: any of: ^backend/app/ and \.py$
  backend-mypy: any of: ^backend/app/ and \.py$
  backend-tests: any of: ^backend/ and \.py$
  frontend-typecheck: any of: ^continuum-frontend/src/.*\.(ts|tsx)$
  frontend-lint: any of: ^continuum-frontend/src/.*\.(ts|tsx)$
  frontend-build: any of: ^continuum-frontend/src/.*\.(ts|tsx)$
