Repository Vele189/Continuum: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-pylint, backend-mypy, backend-tests, frontend-typecheck, frontend-lint, frontend-build

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Run `pre-commit install` to set up the git hooks
# Run `pre-commit run --all-files` to run all hooks manually

repos:
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python code formatting with Black
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black
        files: ^backend/
        args: ['--line-length=100']

  # Python import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        files: ^backend/
        args: ['--profile=black', '--line-length=100']

  # Local hooks for project-specific checks
  - repo: local
    hooks:
      # Backend Pylint
      - id: backend-pylint
        name: Backend Pylint
        entry: bash -c 'cd backend && source venv/bin/activate && pylint --rcfile=.pylintrc $(find app -name "*.py" -not -path "*/tests/*")'
        language: system
        types: [python]
        files: ^backend/app/
        pass_filenames: false

      # Backend Mypy Type Checking
      # Note: Uses --warn-unused-ignores to catch obsolete ignores
      - id: backend-mypy
        name: Backend Type Check (mypy)
        entry: bash -c 'cd backend && source venv/bin/activate && mypy app --config-file=mypy.ini || echo "mypy warnings (non-blocking)"'
        language: system
        types: [python]
        files: ^backend/app/
        pass_filenames: false

      # Backend Tests
      # Note: Requires DATABASE_URL to be set. Uses SQLite for local testing.
      - id: backend-tests
        name: Backend Tests (pytest)
        entry: bash -c 'cd backend && source venv/bin/activate && DATABASE_URL="sqlite:///./test.db" pytest tests -v --tb=short -x'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

      # Frontend TypeScript Type Check
      - id: frontend-typecheck
        name: Frontend Type Check (TypeScript)
        entry: bash -c 'cd continuum-frontend && npm run typecheck'
        language: system
        files: ^continuum-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

      # Frontend ESLint
      - id: frontend-lint
        name: Frontend Lint (ESLint)
        entry: bash -c 'cd continuum-frontend && npm run lint'
        language: system
        files: ^continuum-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false

      # Frontend Build Check (ensures the project builds)
      - id: frontend-build
        name: Frontend Build Check
        entry: bash -c 'cd continuum-frontend && npm run build'
        language: system
        files: ^continuum-frontend/src/.*\.(ts|tsx)$
        pass_filenames: false
        stages: [pre-push]  # Only run on push, not commit (takes longer)

feat: add webhook secrets and url normalization
  backend/app/schemas/repository.py
  backend/app/services/repository.py
  backend/app/services/webhook.py
Due: backend-pylint, backend-mypy, backend-tests

feat: left sidebar UI + mock project tree
  continuum-frontend/public/icons/Add.svg
  continuum-frontend/public/icons/Continuum (1).svg
  continuum-frontend/public/icons/Ellepsis.svg
  continuum-frontend/public/icons/Ellipse 1.svg
  continuum-frontend/public/icons/corner-down-right.svg
  continuum-frontend/public/icons/folder-dot.svg
  continuum-frontend/public/icons/folder-open-dot.svg
  continuum-frontend/public/icons/house.svg
  continuum-frontend/public/icons/list-todo.svg
  continuum-frontend/public/icons/lucide.svg
  continuum-frontend/public/icons/scroll-text.svg
  continuum-frontend/public/icons/search.svg
  continuum-frontend/public/icons/target.svg
  continuum-frontend/src/components/Sidebar.tsx
  continuum-frontend/src/data/mockProjects.ts
  continuum-frontend/src/pages/Dashboard/Overview.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat: Add repository mapping for Git webhooks
  backend/app/api/v1/routes/repositories.py
  backend/app/main.py
  backend/app/schemas/repository.py
  backend/app/services/repository.py
  backend/app/services/webhook.py
  backend/scripts/seed_data.py
  backend/start.sh
  continuum-frontend/src/api/axiosClient.ts
  continuum-frontend/src/api/index.ts
  continuum-frontend/src/api/projects.ts
  continuum-frontend/src/api/repositories.ts
  continuum-frontend/src/components/RepositoryManager.tsx
  continuum-frontend/src/pages/Auth/Login.tsx
  continuum-frontend/src/pages/Auth/Register.tsx
  continuum-frontend/src/pages/Projects/ProjectSettings.tsx
  continuum-frontend/src/pages/Projects/index.tsx
  continuum-frontend/src/router.tsx
  docker-compose.yml
Due: backend-pylint, backend-mypy, backend-tests, frontend-typecheck, frontend-lint, frontend-build

Fix Docker container startup: exclude host start.sh and use container-start.sh
  backend/.dockerignore
  backend/Dockerfile
Due: none

Fix uvicorn not found error: use python -m and create local container-start.sh
  backend/Dockerfile
  backend/container-start.sh
Due: none

Make container-start.sh work on both host and container
  backend/Dockerfile
  backend/container-start.sh
Due: none

fixes: fixed enpoints
  continuum-frontend/src/api/auth.ts
  continuum-frontend/src/api/axiosClient.ts
  continuum-frontend/src/api/tasks.ts
  continuum-frontend/src/hooks/useAuth.ts
  docker-compose.yml
Due: frontend-typecheck, frontend-lint, frontend-build

Fix TypeScript type mismatch in useProjects hook
  continuum-frontend/src/hooks/useProjects.ts
Due: frontend-typecheck, frontend-lint, frontend-build

fixes: updated spacing in the sidebar to match the design
  continuum-frontend/src/components/Sidebar.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

Fix code formatting: trailing whitespace, end of files, black, and isort
  backend/app/api/v1/routes/users.py
  backend/app/api/v1/routes/work_sessions.py
  backend/app/schemas/work_session.py
  backend/continuum_backend.postman_collection.json
  backend/migrations/versions/8eaa9158ce3a_add_repositories_table.py
  backend/migrations/versions/9e70db09a665_add_work_sessions_table_and_missing_.py
  backend/scripts/verify_repo_mapping.py
  backend/verify_work_session.py
Due: backend-pylint, backend-mypy, backend-tests

feat(auth): integrate login page with backend authentication
  continuum-frontend/src/pages/Auth/Login.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): integrate register page with backend authentication
  continuum-frontend/src/pages/Auth/Register.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): integrate signup page with backend authentication
  continuum-frontend/src/pages/Auth/SignUp.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): wired axios clinet with auth token and auth endpoints
  continuum-frontend/src/api/auth.ts
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): wired axios clinet with auth token and auth endpoints
  continuum-frontend/src/api/axiosClient.ts
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): added protected routes and auth page redirects
  continuum-frontend/src/router.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): persist token and restore auth session from localStorage
  continuum-frontend/src/store/authStore.ts
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): added updated useAuth for auth intergration
  continuum-frontend/src/hooks/useAuth.ts
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): added logout button for logout functionality
  continuum-frontend/src/pages/Dashboard/Overview.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

Implement project header and align layout with design
  continuum-frontend/public/icons/bell.svg
  continuum-frontend/public/icons/building-2.svg
  continuum-frontend/public/icons/share.svg
  continuum-frontend/public/icons/x.svg
  continuum-frontend/src/components/ProjectHeader.tsx
  continuum-frontend/src/components/Sidebar.tsx
  continuum-frontend/src/pages/Dashboard/Overview.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): added updated register page for auth intergretion
  continuum-frontend/src/pages/Auth/Register.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): added updated error handling
  continuum-frontend/src/api/axiosClient.ts
Due: frontend-typecheck, frontend-lint, frontend-build

feat(auth): added updated useAuth for auth intergretion
  continuum-frontend/src/hooks/useAuth.ts
Due: frontend-typecheck, frontend-lint, frontend-build

fix(auth): Fixed CORS errors
  backend/app/main.py
Due: backend-pylint, backend-mypy, backend-tests

fixes: tested and fixed all backend endpoints , updatethe pre commits file, cleaned up unnecessary files
  .github/workflows/pre-commit.yml
  backend/.gitignore
  backend/Dockerfile
  backend/app/api/v1/routes/task_comments.py
  backend/migrations/versions/44eede3a242f_merge_repositories_and_work_sessions.py
  backend/tests/api/v1/test_milestones_permissions.py
  run-pre-commit.sh
Due: backend-pylint, backend-mypy, backend-tests

fixes: updated the pre commit yml
  .pre-commit-config.yaml
  backend/Dockerfile
Due: none

fixes : Fixed the pylint warnings
  backend/scripts/verify_repo_mapping.py
Due: backend-tests

fixes: added the missing register endpoint
  backend/app/api/v1/routes/auth.py
Due: backend-pylint, backend-mypy, backend-tests

chore: fix trailing whitespace and end of file issues
  continuum-frontend/src/components/ProjectHeader.tsx
  continuum-frontend/src/components/Sidebar.tsx
  continuum-frontend/src/data/mockProjects.ts
  continuum-frontend/src/pages/Auth/ResetPassword.tsx
Due: frontend-typecheck, frontend-lint, frontend-build

fixes: fixed all lint errors
  continuum-frontend/src/components/ProtectedRoute.tsx
  continuum-frontend/src/components/PublicRoute.tsx
  continuum-frontend/src/components/RepositoryManager.tsx
  continuum-frontend/src/hooks/useAuth.ts
  continuum-frontend/src/router.tsx
Due: frontend-typecheck, frontend-lint, frontend-build
